@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --color-white     : #ffffff;
  --color-orange    : #ff5b00;
  --color-yellow    : #ff9900;
  --color-red       : #cc3348;
  --color-gray      : #8d8d8d;
  --color-purple    : #572658;
  --color-blue      : #038aee;
  --color-green     : #0e5f41;
  --color-black     : #000000;
  --color-black-o   : #3e3e3e;
  --color-white-1   : #f6fafc;
  --color-gradient-1: #000c67;
  --color-gradient-2: #007be5;
  --color-touquise  : #00deef;
  --color-shadow    : #9bd2f4;
}

* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  font-family: 'M PLUS Rounded 1c', 'Space Mono';
}

html {
  scroll-behavior: smooth;
}

/* INICIO */
body {
  background-color: var(--color-white-1);
}

.sombra {
  filter        : drop-shadow(0em 30px 20px var(--color-shadow));
  -webkit-filter: drop-shadow(0em 30px 20px var(--color-shadow));
}

.inicio {
  background: linear-gradient(to right, var(--color-gradient-1), var(--color-gradient-2));
  clip-path : polygon(0 0, 100% 0, 100% 54%, 51% 89%, 0 53%);
  height    : 90vh;
  padding   : 0 20px;
}

.inicio .contenido {
  max-width: 1100px;
  margin   : auto;
  color    : var(--color-white);
}

.inicio header {
  display        : flex;
  justify-content: space-between;
  padding        : 30px 0;
  align-items    : center;
}

.inicio .logo {
  display    : flex;
  align-items: center;
  color      : var(--color-touquise);
  font-size  : 25px;
}

.inicio .logo i {
  display     : inline-block;
  margin-right: 15px;
}

#inicio header .nav a {
  color          : var(--color-white);
  text-decoration: none;
  display        : inline-block;
  padding        : 5px 10px;
  text-transform : uppercase;
  border         : 2px solid transparent;
}

#inicio header .nav a:hover {
  border-bottom: 2px solid var(--color-orange);
}

.inicio .redes a {
  text-decoration: none;
  color          : var(--color-white);
  display        : inline-block;
  margin         : 0 10px;
}

.inicio .redes a:hover {
  color: var(--color-orange);
}

.inicio .fila {
  display       : flex;
  margin-top    : 50px;
  padding-bottom: 100px;
}

.inicio .fila .col {
  width        : 50%;
  /* align-self: center; */
}

.inicio .fila .col h2 {
  margin-bottom: 15px;
  font-size    : 40px;
}

.inicio .fila .col p {
  margin-bottom: 20px;
}

.inicio .fila .col .contenedor-img {
  max-width: 400px;
  margin   : auto;
}

.inicio .fila .col .contenedor-img img {
  width: 100%;
}

.inicio .fila .col button {
  background        : none;
  width             : fit-content;
  padding           : 5px 40px;
  border            : 2px solid linear-gradient(to right, var(--color-red), var(--color-yellow));
  color             : var(--color-white);
  background        : linear-gradient(to right, var(--color-red), var(--color-yellow));
  transition        : .5s;
  -webkit-transition: .5s;
  -moz-transition   : .5s;
  -ms-transition    : .5s;
  -o-transition     : .5s;
  cursor            : pointer;
}

.inicio .fila .col button:hover {
  transform        : scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform   : scale(1.1);
  -ms-transform    : scale(1.1);
  -o-transform     : scale(1.1);
}

#icono-nav {
  height               : 30px;
  width                : 30px;
  text-align           : center;
  line-height          : 30px;
  border-radius        : 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius   : 50%;
  -ms-border-radius    : 50%;
  -o-border-radius     : 50%;
  transition           : .3s;
  -webkit-transition   : .3s;
  -moz-transition      : .3s;
  -ms-transition       : .3s;
  -o-transition        : .3s;
  cursor               : pointer;
  display              : none;
}

#icono-nav:hover {
  background-color: var(--color-black-o);
}

/* SERVICIOS */
.servicios {
  max-width: 1100px;
  margin   : auto;
  padding  : 0 20px;
  position : relative;
  top      : -170px;
}

.servicios .fila {
  display        : flex;
  justify-content: space-around;
  margin-bottom  : 50px;
}

.servicios .fila .col {
  text-align: center;
  width     : 30%;
}

.servicios .fila .col .card {
  border               : 1px solid var(--color-gray);
  height               : 400px;
  background-color     : var(--color-white);
  padding              : 30px;
  border-radius        : 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius   : 20px;
  -ms-border-radius    : 20px;
  -o-border-radius     : 20px;
  position             : relative;
}

.servicios .icono {
  width                : 70px;
  height               : 70px;
  margin               : auto;
  border-radius        : 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius   : 50%;
  -ms-border-radius    : 50%;
  -o-border-radius     : 50%;
  display              : flex;
  align-items          : center;
  justify-content      : center;
  margin-bottom        : 30px;
}

.servicios .icono .circulo {
  width                : 90%;
  height               : 90%;
  border-radius        : 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius   : 50%;
  -ms-border-radius    : 50%;
  -o-border-radius     : 50%;
  border               : 3px solid var(--color-white);
  display              : flex;
  justify-content      : center;
  align-items          : center;
  color                : var(--color-white);
  font-size            : 20px;
}

.color1 {
  background: linear-gradient(var(--color-yellow), var(--color-orange));
}

.color2 {
  background: linear-gradient(var(--color-blue), var(--color-gradient-1));
}

.color3 {
  background: linear-gradient(var(--color-touquise), var(--color-gradient-1));
}

.color4 {
  background: linear-gradient(var(--color-green), var(--color-gradient-1));
}

.color5 {
  background: linear-gradient(var(--color-gray), var(--color-gradient-1));
}

.color6 {
  background: linear-gradient(var(--color-red), var(--color-purple));
}

.servicios h3 {
  margin-bottom: 20px;
}

.servicios .card p {
  color      : var(--color-gray);
  line-height: 28px;
  font-size  : 12px;
}

.servicios .card a {
  text-decoration  : none;
  color            : var(--color-gradient-2);
  position         : absolute;
  bottom           : 20px;
  left             : 50%;
  transform        : translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform   : translateX(-50%);
  -ms-transform    : translateX(-50%);
  -o-transform     : translateX(-50%);
}

/* HABILIDADES */
.habilidades {
  background: linear-gradient(to right, var(--color-gradient-1), var(--color-gradient-2));
  color     : var(--color-white);
  padding   : 60px 0;
  position  : relative;
  top       : -100px;
}

.habilidades h2 {
  text-align: center;
}

.habilidades .contenedor-habi {
  max-width: 1100px;
  margin   : auto;
}

.habilidades .fila {
  display        : flex;
  justify-content: space-around;
}

.score {
  padding: 10px;
  margin : auto;
}

.score .box {
  width: 100%;
}

.score .box h2 {
  display   : block;
  text-align: center;
}

.score .box .chart {
  position   : relative;
  width      : 160px;
  height     : 160px;
  margin     : auto;
  line-height: 160px;
  font-size  : 40px;
  text-align : center;
}

.score .box canvas {
  position: absolute;
  top     : 0;
  left    : 0;
}

/* TRABAJOS */
.trabajos {
  max-width: 1100px;
  margin   : auto;
  padding  : 0 20px;
}

.trabajos h2 {
  text-align: center;
}

.trabajos main {
  text-align: center;
  margin    : 30px 0;
}

.trabajos main a {
  text-decoration: none;
  display        : inline-block;
  margin         : 0 20px;
  color          : var(--color-gradient-2);
  font-weight    : bold;
  padding        : 3px 10px;
  border         : 3px solid transparent;
}

.trabajos main a:hover {
  border: 3px solid var(--color-orange);
}

.borde {
  border: 3px solid var(--color-orange);
}

.trabajos .galeria .item img {
  width  : 100%;
  height : 100%;
  display: block;
}

.trabajos .galeria {
  display              : grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap                  : 30px;
}

.trabajos .galeria .item {
  position             : relative;
  overflow             : hidden;
  border               : 1px solid var(--color-gray);
  border-radius        : 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius   : 10px;
  -ms-border-radius    : 10px;
  -o-border-radius     : 10px;
}

.trabajos .galeria .item .info {
  position          : absolute;
  top               : -100%;
  left              : 0;
  bottom            : 0;
  text-align        : center;
  background-color  : var(--color-white);
  width             : 100%;
  padding           : 20px;
  opacity           : 0;
  transition        : .3s;
  -webkit-transition: .3s;
  -moz-transition   : .3s;
  -ms-transition    : .3s;
  -o-transition     : .3s;
}

.trabajos .galeria .item .info h3 {
  color        : var(--color-black);
  margin-bottom: 20px;
}

.trabajos .galeria .item .info span {
  color  : var(--color-gray);
  display: inline-block;
  border : 2px solid var(--color-gray);
  margin : 0 3px;
  padding: 0 5px;
}

.trabajos .galeria .item .info a {
  display        : block;
  margin         : 20px;
  text-decoration: none;
  color          : var(--color-gradient-2);
  font-weight    : bold;
}

.trabajos .galeria .item:hover .info {
  opacity: 1;
  top    : 0;
}

/* CONTACTOS */
.contacto {
  background     : linear-gradient(rgba(0, 12, 103, 1), rgba(0, 12, 103, .8)), url();
  background-size: cover;
  color          : var(--color-white);
  margin-top     : 100px;
  padding        : 80px 20px;
}

.contacto .contenedor-contacto {
  max-width: 1100px;
  margin   : auto;
}

.contacto h2 {
  text-align    : center;
  padding-bottom: 30px;
}

.contacto .contenedor-contacto .fila {
  display: flex;
}

.contacto .contenedor-contacto .info {
  margin-bottom: 30px;
  border-left  : 3px solid var(--color-gray);
  padding-left : 8px;
}

.contacto .contenedor-contacto .info p {
  color: var(--color-gray);
}

.contacto :is(input, textarea) {
  width           : 100%;
  border          : none;
  background-color: transparent;
  padding         : 10px;
  border          : 1px solid var(--color-gray);
  margin-bottom   : 20px;
  outline         : none;
  color           : var(--color-white);
}

.contacto .contenedor-contacto .btn {
  background-color: none;
  padding         : 5px 40px;
  border          : 2px solid;
  color           : var(--color-white);
  cursor          : pointer;
  background      : linear-gradient(to right, var(--color-orange), var(--color-yellow));
}

/* REDES SOCIALES */
.redes-sociales {
  width   : 60px;
  position: fixed;
  bottom  : 0px;
  left    : 40px;
  right   : auto;
  z-index : 10;
}

.redes-sociales ul {
  display        : flex;
  flex-direction : column;
  -moz-box-align : center;
  align-items    : center;
  justify-content: center;
  margin         : 0px;
  padding        : 0px;
  list-style     : none;
  gap            : 5px;
}

.redes-sociales ul::after {
  content         : "";
  display         : block;
  width           : 2px;
  height          : 90px;
  margin          : 0px auto;
  background-color: #a8b2d1;
}

.redes-sociales ul li {
  list-style: none;
}

.redes-sociales ul li a {
  display                 : inline-block;
  text-align              : center;
  text-decoration         : none;
  text-decoration-skip-ink: auto;
  color                   : inherit;
  position                : relative;
  transition              : all .25s cubic-bezier(.645, .045, .355, 1);
  -webkit-transition      : all .25s cubic-bezier(.645, .045, .355, 1);
  -moz-transition         : all .25s cubic-bezier(.645, .045, .355, 1);
  -ms-transition          : all .25s cubic-bezier(.645, .045, .355, 1);
  -o-transition           : all .25s cubic-bezier(.645, .045, .355, 1);
}

.redes-sociales ul li a i {
  width          : 30px;
  height         : 30px;
  fill           : none;
  vertical-align : middle;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.redes-sociales-responsive {
  display: none;
}

/* FOOTER */
footer {
  background-color: var(--color-black);
  color           : var(--color-white);
  padding         : 7px 0;
  font-size       : 14px;
  text-align      : center;
}

/* RESPONSIVE */
@media screen and (max-width:1180px) {
  .inicio {
    clip-path: none;
  }
}

@media screen and (max-width:800px) {
  .redes {
    display: none;
  }

  #nav {
    display: none;
  }

  #nav.responsive {
    background-color: rgba(0, 0, 0, .9);
    top             : 0;
    left            : 0;
    height          : 100vh;
    width           : 100%;
    position        : absolute;
    padding         : 10px;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    z-index         : 99;
  }

  #nav.responsive a {
    font-size: 30px;
  }

  #icono-nav {
    display: block;
  }

  .inicio {
    height: auto;
  }

  .inicio .fila {
    display: block;
  }

  .inicio .fila .col {
    width     : 100%;
    text-align: center;
  }

  .inicio .fila .col h2 {
    margin-top: 20px;
  }

  .inicio .fila .col .contenedor-img {
    width     : 50%;
    margin-top: 30px;
  }

  .servicios {
    position: static;
    padding : 20px;
  }

  .servicios .fila {
    display      : block;
    margin-bottom: 0;
  }

  .servicios .fila .col {
    width : 70%;
    margin: auto;
  }

  .servicios .fila .col .card {
    margin-bottom: 20px;
  }

  .habilidades {
    position: static;
  }

  .trabajos nav a {
    margin: 0 5px;
  }

  .contacto .fila {
    display: block !important;
  }

  .contacto .fila .col {
    text-align: center;
    width     : 100% !important;
  }

  .contacto .fila .col .info {
    float    : left;
    font-size: 12px;
    width    : 25%;
  }
}

@media screen and (max-width:768px) {
  .redes-sociales {
    display: none;
  }

  .redes-sociales-responsive {
    display        : flex;
    justify-content: center;
    gap            : 25px;
    margin         : 10px 0;
  }

  .redes-sociales-responsive li {
    list-style: none;
  }

  .redes-sociales-responsive li a {
    text-decoration         : none;
    text-decoration-skip-ink: auto;
    color                   : inherit;
  }
}

@media screen and (max-width:474px) {
  .inicio .fila {
    padding-bottom: 50px;
  }

  .inicio .fila .col .contenedor-img {
    width: 70%;
  }

  .inicio .logo {
    font-size: 14px;
  }

  .servicios .fila .col {
    width: 100%;
  }

  .servicios .fila .col .card {
    height: 430px;
  }

  .habilidades .fila {
    flex-flow: column;
  }

  .trabajos .galeria {
    grid-template-columns: none;
  }

  .contacto {
    padding: 45px 20px;
  }

  .contacto .contenedor-contacto .fila .col-flex {
    display       : flex;
    flex-direction: column;
  }
}